#  Enable rewrite engine
RewriteEngine On

# Redirect all other requests to index.html, preserving the original URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]