:root {
    --background-color: #000;
    --panel-background-color: #101010;
    --panel-shadow: 0 0 10px rgb(255, 255, 255);
    --form-background-color: rgb(0 0 0 / 72%);
    --form-border-color: rgba(255, 255, 255, 0.1);
    --form-shadow: 0 0 10px rgb(255, 255, 255);
    --input-background-color: rgba(255, 255, 255, 0.07);
    --input-placeholder-color: #e5e5e5;
    --button-background-color: #ffffff;
    --button-text-color: #080710;
    --shape-gradient-1: linear-gradient(#060ba6, #23a2f6);
    --shape-gradient-2: linear-gradient(to right, #fe6d25, #b80000);
    --shape-gradient-3: linear-gradient(#ff8c00, #ff0080);
    --shape-gradient-4: linear-gradient(#00ff00, #00ffff);
    --shape-gradient-5: linear-gradient(#ff00ff, #800080);
    --shape-gradient-6: linear-gradient(#ff0000, #ffff00);
    --social-background: rgba(255, 255, 255, 0.27);
    --social-hover-background: rgba(255, 255, 255, 0.47);
    --font-family: 'Poppins', sans-serif;
    --font-color: #ffffff;
}

html,
body {
    background-color: var(--background-color) !important;
    color: var(--font-color) !important;
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: var(--font-family) !important;
}

a > img {
    pointer-events: none;
}

/* SNACKBAR */
.snackbar {
    visibility: hidden;
    min-width: 150px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 20px;
    position: fixed;
    z-index: 9999;
    right: 0px;
    top: 20px;
    font-size: 17px;
    transition: visibility 0s, opacity 0.5s linear;
}

.snackbar.show {
    visibility: visible;
    opacity: 1;
}

.snackbar.success {
    background-color: #28a745;
}

.snackbar.error {
    background-color: #dc3545;
}

.snackbar.warning {
    background-color: #ffc107;
}

.snackbar.info {
    background-color: #17a2b8;
}
/* SNACKBAR END */



/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-show {
    display: block !important;
}
/* MODAL END */



/* FONT */
.light {
    font-weight: 100;
}
/* FONT END */



/* SIZING */
.min-w-25 {
    min-width: 25%;
}

.min-w-50 {
    min-width: 50%;
}
/* SIZING END */



/* BUTTON */
.disabled {
    pointer-events: none;
    opacity: 0.6;
}
/* BUTTON END */



/* ANIMATION */
.transition-3 {
    transition: all 0.3s;
}

.transition-5 {
    transition: all 0.5s;
}
/* ANIMATION END */