html,
body {
    background-color: #000 !important;
    color: #fff !important;
    font-family: sans-serif;
    margin: 0;
    height: 100%;
}



/* SNACKBAR */
.snackbar {
    visibility: hidden;
    min-width: 150px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 20px;
    position: fixed;
    z-index: 9999;
    right: 0px;
    top: 20px;
    font-size: 17px;
    transition: visibility 0s, opacity 0.5s linear;
}

.snackbar.show {
    visibility: visible;
    opacity: 1;
}

.snackbar.success {
    background-color: #28a745;
}

.snackbar.error {
    background-color: #dc3545;
}

.snackbar.warning {
    background-color: #ffc107;
}

.snackbar.info {
    background-color: #17a2b8;
}
/* SNACKBAR END */



/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-show {
    display: block !important;
}
/* MODAL END */



/* FONT */
.light {
    font-weight: 100;
}
/* FONT END */



/* SIZING */
.min-w-25 {
    min-width: 25%;
}

.min-w-50 {
    min-width: 50%;
}
/* SIZING END */



/* BUTTON */
.disabled {
    pointer-events: none;
    opacity: 0.6;
}
/* BUTTON END */



/* ANIMATION */
.transition-3 {
    transition: all 0.3s;
}

.transition-5 {
    transition: all 0.5s;
}
/* ANIMATION END */