:root {
    --background-color: #000;
    --panel-background-color: #101010;
    --panel-shadow: 0 0 10px rgb(255, 255, 255);
    --form-background-color: rgba(255, 255, 255, 0.13);
    --form-border-color: rgba(255, 255, 255, 0.1);
    --form-shadow: 0 0 10px rgb(255, 255, 255);
    --input-background-color: rgba(255, 255, 255, 0.07);
    --input-placeholder-color: #e5e5e5;
    --button-background-color: #ffffff;
    --button-text-color: #080710;
    --shape-gradient-1: linear-gradient(#060ba6, #23a2f6);
    --shape-gradient-2: linear-gradient(to right, #fe6d25, #b80000);
    --social-background: rgba(255, 255, 255, 0.27);
    --social-hover-background: rgba(255, 255, 255, 0.47);
    --font-family: 'Poppins', sans-serif;
    --font-color: #ffffff;
}

body {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: var(--font-family);
    color: var(--font-color);
}