#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-left: 6%;
    padding-right: 6%;
}

#game-canvas {
    border: 2px solid yellow;
}

#startGameButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.opponent-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-bottom: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn {
	z-index: 9999;
    margin-top: 20px;
    padding: 10px 15px;
    color: var(--button-text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
	border: 1px solid transparent;
}

.btn:hover {
    color: var(--button-background-color);
	border: 1px solid #00ff00;
}

.icons{
	width: 30px;
}

.button-home{
    width: 100%;
    justify-content: end;
    align-items: end;  
	padding-right: 2rem;
    margin-bottom: 3rem;
    display: flex;
}

div#match-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}